body {
	background: url("img/lg_SA_pb.gif");
	background-position: center;
	background-repeat: no-repeat;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: Black;
	scrollbar-face-color: #CC2E2B;
	scrollbar-highlight-color: #DCDCDC;
	scrollbar-3dlight-color: #F5F5F5;
	scrollbar-darkshadow-color: #F5F5F5;
	scrollbar-shadow-color: #DCDCDC;
	scrollbar-arrow-color: #C0C0C0;
	scrollbar-track-color: #F5F5F5;
	background-attachment: fixed;
}

.reportPageCliente {
background-color:transparent;
color: #CC2E2B;
font-weight: bold; 
}

.reportPageOutro {
background-color:transparent;
color: #CC2E2B;
font-size: 20%;
font-weight: bold;
}

.aNavigator{
color: #CC2E2B;
font-weight: bold; 
}

.reportPage {
background-color:#CC2E2B;
color: White;
font-weight: bold; 
}

.radio{
font-size: 100%;
font-family: Verdana, Arial, sans-serif;
cursor: hand; 
FONT-SIZE: 8pt; 
COLOR: Black; 
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
HEIGHT: 18px;
border: none;
}

table {
width: 100%;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
border-collapse:collapse;
}

td {
	font-size: 11px;
	background-attachment: fixed;
}

.blankHeader{
	color: #CC2E2B;
}

.mainTable {
text-align:center;
}

.td10 {
font-size:10px;
color: #CC2E2B;
}

.obsTable {
margin-top:10;
}

.divNavigatorTable {
style=width:1%;
border:0;
cellpadding:0;
cellspacing:0;
align:center; 
}

fieldset {
border:0px solid;
width:0px;
}

.div10 {
font-size:10px;
font-weight:normal;
text-align:right;
}

.div10l {
	color: #CC2E2B;
}

a {
color: Black; 
text-decoration: none;
}

a:hover {
	color: Black;
	text-decoration: underline;
}

select {
font-size:11px;
color: black;
}

textarea{
BORDER-RIGHT: black 1px solid; 
BORDER-TOP: black 1px solid; 
BORDER-LEFT: black 1px solid; 
BORDER-BOTTOM: black 1px solid;
color: black;

}


.fixo {
font-family: courier; 
}	

.tableHeader {
	background-image: url(img/lg_SA.jpg);
	background-repeat: no-repeat;
	padding-top: 54px;
	padding-bottom: 7px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	color: #CC2E2B;
}

.BannerLogin{
	background-image: url(img/lg_SA.jpg);
	background-repeat: no-repeat;
	padding-top: 54px;
	padding-bottom: 7px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	font-family: courier, serif;
	text-align: right;
}

.columHeader {
border-color:black;
border-bottom-style:solid;
border-bottom-width:1;
font-size:12px;
font-weight:bold;
}

.rowBlank {
	background-color: #EDEDED;
	color: black;
}

.rowColor {
	background-color: #D1D1D1;
	color: Black;
}

.totalColum {
background-color:#CC2E2B;
color: White;
font-weight: bold;
vertical-align:top;
}

.reportHeader {
background-color:#CC2E2B;
color: White;
font-weight: bold; 
}



.observacao {
border-color:black;
border-top-style:solid;
border-top-width:2;
border-bottom-style:solid;
border-bottom-width:1;
padding-top:5;
font-size:11px;
}

.messageHeader {
border-color:black;

border-bottom-style:solid;
border-bottom-width:1;
padding-top:5;
font-size:11px;
}

.formLabel {
width:100;
text-align: right;
vertical-align: bottom; 
color: Black;
}

.formField {
text-align: left; 
vertical-align: bottom;
}

input {
font-size: 100%;
font-family: Verdana, Arial, sans-serif;
cursor: hand; 
FONT-SIZE: 8pt; 
COLOR: Black; 
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
HEIGHT: 18px;
border: none;
}

.baseField {
font-size: 100%;
font-family: Verdana, Arial, sans-serif;
cursor: hand; 
BORDER-RIGHT: black 1px solid; 
BORDER-TOP: black 1px solid; 
FONT-SIZE: 8pt; 
BORDER-LEFT: black 1px solid; 
COLOR: Black; 
BORDER-BOTTOM: black 1px solid; 
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
HEIGHT: 18px
}

.lovButton {
font-size: 100%;
font-family: Verdana, Arial, sans-serif;
cursor: hand; 
BORDER-RIGHT: black 1px solid; 
BORDER-TOP: black 1px solid; 
FONT-SIZE: 8pt; 
BORDER-LEFT: black 1px solid; 
COLOR: Black; 
BORDER-BOTTOM: black 1px solid; 
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
HEIGHT: 18px
}

.basebutton{
   background-color: #CC2E2B;
	color: White;
	font-family:verdana;
   font-size:11px;
	border: thin;
	border-color: #CC2E2B;
	font-weight: bold;
}
.botao  {
font-family: Verdana, Arial; 
font-size: xx-small; 
font-weight: bold; 
color:white; 
background-color: #CC2E2B; 
background-repeat: repeat;
background-attachment: scroll; 
cursor: hand;
background-position: 0% 50%;
}

.menu {
list-style-image:url(../img/mais.png);
}	

.submenu {
list-style-image:url(../img/menu.png);
}

.fieldtransparente{
border: none;
font-weight: bolder;
/*font-size: 12px;*/
width: 645px;
height: 20px;
}

.portlet_bar {
	color: #CC2E2B;
	font-weight: bold;
	nowrap: true;
	valign: middle;
}

table#tabmenu {
margin-bottom: 0px;
}

td.tab, td.selectedtab, td.tabspacer, td#contentscell {
border: 1px solid black;
cursor: hand;
nowrap: false;
}

td.tabspacer {
border-width: 0 0 0px;
}

td.tab {
background: #afc4d9;
cursor: pointer;
font-size:13px;
font-weight: bold;
width: 15%;
padding: 0px;
border-width: 1px 1px 1px 1px;
}

td.selectedtab {
border-bottom: 0 solid #cde1f7;
}

td.selectedtab, td#contentscell {
background: #cde1f7;
font-size:13px;
font-weight: bold;
width: 15%;
padding: 0px;
border-width: 1px 1px 1px 1px;
}

.contentscell {
background: #cde1f7;
padding: 10px;
border: 1px solid black;
}

td#contentscell {
border-width: 1px 1px 1px 1px;
padding: 5px;
}

div.contents {
display: none;
}

div.selectedcontents {
display: block;
}

.myhidden {
visibility: hidden;
display: none;
}

.calCalendar {
	BORDER-RIGHT: #dddddd 2px outset; BORDER-TOP: #dddddd 2px outset; BORDER-LEFT: #dddddd 2px outset; BORDER-BOTTOM: #dddddd 2px outset; BACKGROUND-COLOR: #d4d0c8
}
.calClickable {
	CURSOR: hand; TEXT-DECORATION: none
}
.calClickable_hover {
	FONT-WEIGHT: bolder; CURSOR: hand; COLOR: #0a246a
}
.calTitleBar {
	FONT-WEIGHT: bolder; COLOR: #ffffff; BACKGROUND-COLOR: #3a6ea5
}
.calDay {
	BACKGROUND-COLOR: #d4d0c8
}
.calDayCurrent {
	BACKGROUND-COLOR: blue
}
.separator {
background-color:#afc4d9;
text-align: center;
font-family: Arial;
font-size:15px;
font-weight:bold;
border: solid #e6eef4 10px
}

.separatorTable {
border: solid 2;
Border-Collapse:separate;
margin-top:10px;
}

.positionTr {
align:center;
}

.positionTd {
vertical-align:top;
text-align:center;
}

.reportTable {
margin-top:5px;
margin-left:0px;
margin-right:0px;
margin-bottom:2px;
}

.baseForm {
margin-top:5px;
margin-left:0px;
margin-right:0px;
margin-bottom:2px;
}

.messageTable {
margin-top:10;
}

.obsTable {
margin-top:10;
}

.itemTable {
margin-top:10;
}

.chartTable {
margin-top:10;
}

.buttonTable {
width:100%;
margin-top:10px;
}

.navigatorButtonTable {
text-align:center;
}

.buttonItem {
border-color:black;
border-top-style:solid;
border-top-width:1;
padding-top:5;
font-size:11px;
}