.tableRowCount {
  cellpadding:3px;
  cellspacing:3px;
  text-align:left;
}

.tableSimple {
  cellpadding:3px;
  cellspacing:3px;
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
}

.tableDescribe {
  cellpadding:3px;
  cellspacing:3px;
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
}

.tableHtml {
  cellpadding:3px;
  cellspacing:3px;
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
}

.tdHtml {
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
}

.tdSimple {
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
}

.tdDescribe {
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
}

.tdHeaderHtml {
  text-align:left;
  border:1px;
  border-color:black;
  border-style:solid;
  background-color:#1072c9;
  font-weight:bold; color:#FFFFFF;
  font-size:14px;
}

.rowBlank {
  background-color:#dae6f2;
  border:1px;
  border-color:black;
  border-style:solid;
}

.rowColor {
  background-color:#b0c4d8;
  border:1px;
  border-color:black;
  border-style:solid;
}


.helpCommentLabelTd {
background-color:#b0c4d8;
font-size:12px;
width:20%;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

.helpFieldLabelTd {
background-color:#b0c4d8;
font-size:12px;
font-weight:bold;
width:20%;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

.helpFieldDescriptionTd {
font-size:12px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

.helpButtonDescriptionTd {
font-size:12px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

.helpButtonLabelTd {
background-color:#b0c4d8;
font-size:12px;
font-weight:bold;
width:20%;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

.helpSeparatorLabelTd {
background-color:#4995d8;
font-size:12px;
font-weight:bold; color:#FFFFFF;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

.helpTitleLabelTd {
background-color:#0762b2;
font-size:22px;
font-weight:bold; color:#FFFFFF;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}

legend {
font-family: Verdana, Arial, sans-serif;  color:black;
font-size:10px;
}

.menuBar2 {
  background-color:#b0c4d8;
  border: 1px solid;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  padding: 1px 0px 1px 1px;
  text-align: left;
}

body {	
background-color:#FFFFFF;
font-family: Verdana, Arial, sans-serif;
font-size:10px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
scrollbar-3dlight-color: white;
scrollbar-arrow-color:#b0c4d8;
scrollbar-base-color:silver;
scrollbar-darkshadow-color:#80786E;
scrollbar-face-color:#F5F5F5;
scrollbar-highlight-color:#C2BEB8;
scrollbar-shadow-color:#b0c4d8;
scrollbar-track-color:white;
}

table {
width: 100%;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
border-collapse:collapse;
}

td {
font-size: 11px; 
}

textarea {
BORDER-RIGHT: #c2c2c2 1px solid; 
BORDER-TOP: #c2c2c2 1px solid; 
BORDER-LEFT: #c2c2c2 1px solid; 
BORDER-BOTTOM: #c2c2c2 1px solid;
}

a {
color: #000000; 
}

select {
font-size:11px;
}

.reportTable {
margin-top:15px;
}


.CaixaTexto {
BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #c2c2c2 1px solid; COLOR: #000000; BORDER-BOTTOM: #c2c2c2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px
}

.fixo {
font-family: courier; 
}	

.tableHeader {
border-color:black;
border-top-style:solid;
border-top-width:1;
border-bottom-style:solid;
border-bottom-width:1;
background-color:silver;
padding-top:10;
text-align:left;
font-size:10px; color=black;
font-weight:bold;
background:url("img\BAR.JPG");
}

.columHeader {
border-color:black;
border-bottom-style:solid;
border-bottom-width:1;
font-size:12px;
font-weight:bold;
}

.columTotal {
background-color:gainsboro;
font-weight: bold; 
}

.observacao {
border-color:black;
border-top-style:solid;
border-top-width:2;
border-bottom-style:solid;
border-bottom-width:1;
padding-top:5;
font-size:11px;
}

.formLabelPallete {
width:100;
text-align: left;
vertical-align: bottom; 
background-color: #b0c4d8;
font-weight: bold;
}

.formField {
text-align: left; 
vertical-align: bottom;
}

.botao  {
background-color: #b0c4d8; 
font-weight: bold;
cursor: hand;
width:20px;
}

.menu {
list-style-image:url(../img/mais.png);
}	

.submenu {
list-style-image:url(../img/menu.png);
}

.portlet_bar {
background-color:#b0c4d8;
font-weight: bold;
nowrap: true;
valign: middle;
}

.td_pallete {
background-color: #b0c4d8;
font-weight: bold;
nowrap: true;
valign: left;
}

table#tabmenu {
margin-bottom: 0px;
}

td.tab, td.selectedtab, td.tabspacer, td#contentscell {
border: 1px solid black;
cursor: hand;
nowrap: false;
}

td.tabspacer {
border-width: 0 0 0px;
}

td.tab {
background: #ff9966;
cursor: pointer;
font-size:13px;
font-weight: bold;
width: 15%;
padding: 0px;
border-width: 1px 1px 1px 1px;
}

td.selectedtab {
border-bottom: 0 solid #ffcc99;
}

td.selectedtab, td#contentscell {
background: #ffcc99;
font-size:13px;
font-weight: bold;
width: 15%;
padding: 0px;
border-width: 1px 1px 1px 1px;
}

.contentscell {
background: #ffcc99;
padding: 10px;
border: 1px solid black;
}

td#contentscell {
border-width: 0px 1px 1px;
padding: 5px;
}

div.contents {
display: none;
}

div.selectedcontents {
display: block;
}

.myhidden {
visibility: hidden;
display: none;
}

.calCalendar {
	BORDER-RIGHT: #dddddd 2px outset; BORDER-TOP: #dddddd 2px outset; BORDER-LEFT: #dddddd 2px outset; BORDER-BOTTOM: #dddddd 2px outset; BACKGROUND-COLOR: #d4d0c8
}
.calClickable {
	CURSOR: hand; TEXT-DECORATION: none
}
.calClickable_hover {
	FONT-WEIGHT: bolder; CURSOR: hand; COLOR: #0a246a
}
.calTitleBar {
	FONT-WEIGHT: bolder; COLOR: #ffffff; BACKGROUND-COLOR: #3a6ea5
}
.calDay {
	BACKGROUND-COLOR: #d4d0c8
}
.calDayCurrent {
	BACKGROUND-COLOR: blue
}
.separator {
background-color:#afc4d9;
text-align: center;
font-family: Arial;
font-size:15px;
font-weight:bold;
border: solid #e6eef4 10px
}

.separator {
background-color:#afc4d9;
text-align: center;
font-family: Arial;
font-size:12px;
font-weight:bold;
}

.separatorTable {
border: solid 2;
Border-Collapse:separate;
}

.positionTr {
align:center;
}

.positionTd {
vertical-align:top;
text-align:center;
}

.reportTable {
margin-top:5px;
margin-left:0px;
margin-right:0px;
margin-bottom:2px;
}

.baseForm {
margin-top:5px;
margin-left:0px;
margin-right:0px;
margin-bottom:2px;
}

.messageTable {
margin-top:10;
}

.obsTable {
margin-top:10;
}

.itemTable {
margin-top:10;
}

.chartTable {
margin-top:10;
}

.obsTable {
margin-top:10;
}

.buttonTable {
width:100%;
margin-top:10px;
}

.navigatorTable 
{
	BORDER: none;
	height : 30px;
	text-align:center;
}

.navigatorTr 
{
	BORDER: none;
	height : 30px;
	text-align:center;
}

.navigatorTd 
{
	BORDER: none;
	height : 30px;
	text-align:center;
}

.navigatorButtonTable {
text-align:center;
}

.buttonItem {
border-color:black;
border-top-style:solid;
border-top-width:1;
padding-top:5;
font-size:11px;
}


#ie5menu {
BACKGROUND-COLOR: #b0c4d8;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 7.8pt; FONT-WEIGHT:bold;
COLOR: #000000;
LINE-HEIGHT: 13px;
POSITION: absolute;
VISIBILITY: hidden;
WIDTH: 114px
}
.menuitems {
PADDING-LEFT: 10px;
PADDING-RIGHT: 10px;
text-align:left;
}

.hide { position:absolute; visibility:hidden; }

.show { position:absolute; visibility:visible; } 

.noDecor {
text-decoration:none;
}

checkbox {
 border:0px;
}