#dlgMask {
	Z-INDEX: 9990; POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #000; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
#dlgContent {
	Z-INDEX: 9991; POSITION: absolute; TEXT-ALIGN: left; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; WIDTH: 410px; PADDING-RIGHT: 3px; DISPLAY: none; BACKGROUND: #111; PADDING-TOP: 3px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px
}
#dlgContent * {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; FONT-FAMILY: "Trebuchet MS", Arial, Verdana
}
#dlgContent H4 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #333; COLOR: #fff; FONT-SIZE: 12px; PADDING-TOP: 0px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px
}
#dlgContent P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 0px
}
#dlgContent DIV {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; COLOR: #fff; FONT-SIZE: 12px; PADDING-TOP: 10px
}
P#dlgCloseButton {
	TEXT-ALIGN: right; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #333 1px solid; PADDING-TOP: 7px
}
P#dlgCloseButton A {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #555; COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 5px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px
}
P#dlgCloseButton A:hover {
	BACKGROUND: #0084c9
}
P#dlgCloseButton A:focus {
	BACKGROUND: #0084c9
}
#dlgText {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BACKGROUND: #666; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 3px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px
}
