body {
font-family: arial;
font-size:10px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
background:url("..\img\logo_bar4.png");
}

table {
width: 100%;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
border-collapse:collapse;
}

td {
font-size: 12px; 
}

a {
color: #000000; 
}

select {
font-size:11px;
}

.fixo {
font-family: courier; 
}	

.tableHeader {
font-size:18px;
font-weight:bold;
font-family: arial;
background:#b2ddf4;
}

.messageTable {
}
.buttonTable{
}

.messageHeader {
border-color:black;
border-top-style:solid;
border-top-width:1;
border-bottom-style:solid;
border-bottom-width:1;
padding-top:10;
text-align:left;
font-size:10px; color=black;
font-weight:bold;
}

.columHeader {
border-color:black;
border-bottom-style:solid;
border-bottom-width:1;
font-size:12px;
font-weight:bold;
}

.rowBlank {
background-color:#ffffff;
}

.rowColor {
background-color:#e6eef3;
}

.totalColumn {
background-color:#e6eef3;
font-family: arial; color= #ffffff;
font-weight: bold; 
}

.reportHeader {
font-weight: bold; 
background-color:#e6eef3;
font-family: arial;
}

.reportTable{
}

.reportPage {
background-color:#e6eef3;
font-family: arial;
text-align: center; 
}

.observacao {
border-color:black;
border-top-style:solid;
border-top-width:2;
border-bottom-style:solid;
border-bottom-width:1;
padding-top:5;
font-size:11px;
}

.formLabel {
width:100;
text-align: right;
vertical-align: bottom; 
}

.formField {
text-align: left; 
vertical-align: bottom;
}

input {
font-size: 100%;
font-family: Verdana, Arial, sans-serif;
cursor: hand; 
}


.menu {
list-style-image:url(../img/mais.png);
}	

.submenu {
list-style-image:url(../img/menu.png);
}

.portlet_bar {
background-color:#FF9966;
font-weight: bold;
nowrap: true;
valign: middle;
}

table#tabmenu {
margin-bottom: 0px;
}

td.tab, td.selectedtab, td.tabspacer, td#contentscell {
border: 1px solid black;
cursor: hand;
nowrap: false;
}

td.tabspacer {
border-width: 0 0 0px;
}

td.tab {
background: #afc4d9;
cursor: pointer;
font-size:13px;
font-weight: bold;
width: 15%;
padding: 0px;
border-width: 1px 1px 1px 1px;
}

td.selectedtab {
border-bottom: 0 solid #cde1f7;
}

td.selectedtab, td#contentscell {
background: #cde1f7;
font-size:13px;
font-weight: bold;
width: 15%;
padding: 0px;
border-width: 1px 1px 1px 1px;
}

.contentscell {
background: #cde1f7;
padding: 10px;
border: 1px solid black;
}

td#contentscell {
border-width: 1px 1px 1px 1px;
padding: 5px;
}

div.contents {
display: none;
}

div.selectedcontents {
display: block;
}

.myhidden {
visibility: hidden;
display: none;
}

.calCalendar {
	BORDER-RIGHT: #dddddd 2px outset; BORDER-TOP: #dddddd 2px outset; BORDER-LEFT: #dddddd 2px outset; BORDER-BOTTOM: #dddddd 2px outset; BACKGROUND-COLOR: #d4d0c8
}
.calClickable {
	CURSOR: hand; TEXT-DECORATION: none
}
.calClickable_hover {
	FONT-WEIGHT: bolder; CURSOR: hand; COLOR: #0a246a
}
.calTitleBar {
	FONT-WEIGHT: bolder; COLOR: #ffffff; BACKGROUND-COLOR: #3a6ea5
}
.calDay {
	BACKGROUND-COLOR: #d4d0c8
}
.calDayCurrent {
	BACKGROUND-COLOR: blue
}
.separator {
background-color:#afc4d9;
text-align: center;
font-family: Arial;
font-size:15px;
font-weight:bold;
border: solid #e6eef4 10px
}
.separator {
background-color:#afc4d9;
text-align: center;
font-family: Arial;
font-size:12px;
font-weight:bold;
}

.separatorTable {
border: solid 2;
}
.navigatorButtonTable {
text-align:center;
}
.navigatorTable {
text-align:center;
margin-top:10px;
margin-bottom:10px;
}
.navigatorTd {
text-align:center;
}
.footerTd {
text-align:right;
}
.div10 {
text-align:right;
}
.itemTable {
margin-top:10px;
}