BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 15px/1.4em Arial, Helvetica, Geneva, sans-serif; BACKGROUND: url(../images/bg_black.jpg) #fff repeat-x; COLOR: #666; PADDING-TOP: 0px
}
#wrap {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 800px
}
#content {
	PADDING-LEFT: 10px; WIDTH: 550px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 10px
}
#sidebar {
	WIDTH: 220px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 10px
}
#header {
	PADDING-LEFT: 8px; DISPLAY: block; HEIGHT: 89px; CLEAR: both; PADDING-TOP: 17px
}
#footer {
	CLEAR: both
}
H1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: helvetica, arial, sans-serif; LETTER-SPACING: -1px; COLOR: #2fbe35; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: helvetica, arial, sans-serif; LETTER-SPACING: -1px; COLOR: #2fbe35; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: helvetica, arial, sans-serif; LETTER-SPACING: -1px; COLOR: #2fbe35; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 32px
}
H2 {
	FONT-SIZE: 28px
}
H3 {
	COLOR: #ccc; FONT-SIZE: 24px
}
P {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0.5em
}
FORM {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0.5em
}
PRE {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 1.3em; BACKGROUND-COLOR: #333; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #2fbe35; FONT-SIZE: 12px; PADDING-TOP: 6px
}
CODE {
	FONT-FAMILY: "Courier New", Courier, mono; COLOR: #2fbe35
}
UL {
	MARGIN: 0px; PADDING-LEFT: 35px
}
#sidebar P {
	PADDING-LEFT: 0.2em; PADDING-TOP: 0px
}
#sidebar FORM {
	PADDING-LEFT: 0.2em; PADDING-TOP: 0px
}
#sidebar .google {
	PADDING-RIGHT: 12px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 12px
}
BLOCKQUOTE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 5px; PADDING-LEFT: 50px; PADDING-RIGHT: 20px; BACKGROUND: url(../images/quote_blue.gif) #3e8da7 no-repeat 0px top; COLOR: #fff; MARGIN-LEFT: 30px; BORDER-TOP: medium none; MARGIN-RIGHT: 30px; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
BLOCKQUOTE.blue {
	BACKGROUND: url(../images/quote_blue.gif) #3e8da7 no-repeat 0px top
}
BLOCKQUOTE.green {
	BACKGROUND: url(../images/quote_green.gif) #2fbe35 no-repeat 0px top
}
BLOCKQUOTE.red {
	BACKGROUND: url(../images/quote_red.gif) #ff1926 no-repeat 0px top
}
#header H1 {
	DISPLAY: inline; COLOR: #aaa
}
#header H2 {
	DISPLAY: inline; COLOR: #aaa
}
#header H3 {
	DISPLAY: inline; COLOR: #aaa
}
#header A:link {
	BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
#header A:visited {
	BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
A:link {
	BORDER-BOTTOM: #3e8da7 1px dotted; COLOR: #3e8da7; TEXT-DECORATION: none
}
A:visited {
	BORDER-BOTTOM: #3e8da7 1px dotted; COLOR: #3e8da7; TEXT-DECORATION: none
}
A:hover {
	BORDER-BOTTOM: #3e8da7 1px solid; COLOR: #3e8da7; TEXT-DECORATION: none
}
A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
A:focus {
	-moz-outline-style: none
}
.entrytitle A:link {
	BORDER-BOTTOM: medium none; COLOR: #2fbe35; TEXT-DECORATION: none
}
.entrytitle A:visited {
	BORDER-BOTTOM: medium none; COLOR: #2fbe35; TEXT-DECORATION: none
}
#content IMG {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 6px; MARGIN-TOP: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FLOAT: left; BORDER-TOP: #999 1px solid; MARGIN-RIGHT: 7px; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 6px
}
#sidebar H1 {
	COLOR: #ccc
}
#sidebar H2 {
	COLOR: #ccc
}
#sidebar H3 {
	COLOR: #ccc
}
#sidebar INPUT {
	WIDTH: 100%
}
#sidebar LI {
	LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: circle; MARGIN: 0px 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 3px; FLOAT: left; PADDING-TOP: 0px
}
.tagcloud {
	LETTER-SPACING: -1px; FONT-WEIGHT: bold
}
.tagcloud A:link {
	BORDER-BOTTOM: medium none; COLOR: #ccc; TEXT-DECORATION: none
}
.tagcloud A:visited {
	BORDER-BOTTOM: medium none; COLOR: #ccc; TEXT-DECORATION: none
}
.tagcloud A:hover {
	BORDER-BOTTOM: medium none; COLOR: #bbb; TEXT-DECORATION: none
}
#nav {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; BOTTOM: 38px; PADDING-RIGHT: 0px; FLOAT: right; CLEAR: none; FONT-SIZE: 20px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#nav LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 3px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#nav A {
	BORDER-LEFT: 2px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; FLOAT: left; COLOR: #aaa; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#nav A.last {
	BORDER-RIGHT: 2px solid
}
#nav A:hover {
	BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-COLOR: #aaa; COLOR: #eee; BORDER-RIGHT-COLOR: #aaa; BORDER-LEFT-COLOR: #aaa
}
#nav A.active {
	BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-COLOR: #aaa; COLOR: #eee; BORDER-RIGHT-COLOR: #aaa; BORDER-LEFT-COLOR: #aaa
}
.entry {
	MARGIN-BOTTOM: 3em
}
.entrymeta {
	FONT-SIZE: 0.9em
}
.postedby {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 20px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/icon_mail.gif) #fff no-repeat 1px 50%; PADDING-TOP: 3px
}
.filedto {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 20px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/icon_checkmark.gif) #fff no-repeat 1px 50%; PADDING-TOP: 3px
}
.commentslink {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 20px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/icon_quote.gif) #fff no-repeat 1px 50%; PADDING-TOP: 3px
}
.commentsblock {
	
}
.commentsblock TEXTAREA {
	WIDTH: 100%
}
.commentsblock INPUT {
	WIDTH: 300px
}
.commentsblock INPUT {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-RIGHT: #d1d1d1 1px solid
}
.commentsblock TEXTAREA {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-RIGHT: #d1d1d1 1px solid
}
.commentsblock TEXTAREA:focus {
	BORDER-BOTTOM: #a1a1a1 1px solid; BORDER-LEFT: #a1a1a1 1px solid; BACKGROUND: #eee; BORDER-TOP: #a1a1a1 1px solid; BORDER-RIGHT: #a1a1a1 1px solid
}
.commentsblock INPUT:focus {
	BORDER-BOTTOM: #a1a1a1 1px solid; BORDER-LEFT: #a1a1a1 1px solid; BACKGROUND: #eee; BORDER-TOP: #a1a1a1 1px solid; BORDER-RIGHT: #a1a1a1 1px solid
}
.commentauthor {
	DISPLAY: block
}
OL.commentlist {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 1em 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #aaa; PADDING-TOP: 0px
}
.commentlist LI {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; MARGIN-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.alt {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BACKGROUND: #eee; PADDING-TOP: 0.5em
}
TD {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
TH {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
