div.message
	{
	}
	
div.message-dialog
	{
	margin:5px 10px 20px 15px;
	padding:10px 10px 10px 80px;
	background:transparent url(img/icons/messages-icons.gif) no-repeat 20px 10px;
	min-height:50px;
	}

div.message-dialog h4
	{
	text-transform:none;
	font-size:1.2em;
	font-weight:bold;
	padding:0;
	margin:0 0 3px 0;
	}

div.message-error
	{
	border:1px solid red;
	}	
div.message-error h4
	{
	color:red;
	}	

div.message-alert
	{
	border:1px solid #D8B522;
	background-position:20px -390px;
	}	
div.message-alert h4
	{
	color:#D8B522;
	}

div.message-success
	{
	border:1px solid #007B00;
	background-position:20px -790px;
	}	
div.message-success h4
	{
	color:#007B00;
	}

