h1 {
  font-size: 24pt;
  font-family: SansSerif, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8080C0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: SansSerif, Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

p  {
  font-size: 12pt;
  font-family: SansSerif, Arial, Helvetica, sans-serif;
  margin-top: 10;
  margin-bottom: 0;
  margin-left: 10px;
}

h2 {
  font-size: 18pt;
  font-family: SansSerif, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8080C0;
  margin-top: 0;
  margin-bottom: -5
}

h3 {
  font-size: 14pt;
  font-family: SansSerif, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8080C0;
  margin-top: 10;
  margin-bottom: -5
}

body {
  Background-Color:#ffffff;
}

.tableItem  {
  width:100%;
}

.bodyPages {
background-color:FFFFAA;
}

.homeLink {
  font-family:Arial;
}

.homeContents {
  font-family:Arial;
}

.titleTutorial {
  font-family: Verdana, Arial, sans-serif; color=blue;
  font-size:30px;
}

.textTutorial {
  font-family: Verdana, Arial, sans-serif; color=black;
  font-size:12px;
}
